header, body, html, h1, h2, h3, h4, h5, h6, p, span, div {
  box-sizing: border-box;
}


.App {
  text-align: center;
  padding: 240px;
  font-size: 7em;
}

.dial-wrapper {
  display: inline-block;
  border-radius: 140px;
  width: 280px;
  height: 280px;
  border: 20px solid #7b3deb;
  padding: 30px 80px;
}

.dial-inner {
  border-radius: 40px;
  width: 80px;
  height: 80px;
  background-color: #7b3deb
}

.dial-inner::before{
  width: 10px;
  height: 10px;
  border: 10px solid;
  border-color: #7b3deb transparent transparent transparent;
  position: absolute;
  top: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 7em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
